<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<head>
  <title>My first Netzke widget</title>
  <%= netzke_init %>
  <style type="text/css" media="screen">
    h1 { text-align: center; margin: 10px}
    .netzke-widget {width: 700; margin: auto;}
  </style>
</head>
<body>
  <%= yield %>
</body>

